.password__wrapper input {
    border-radius: 10px;
    width: 50%;
    height: 25px;
}

.meter__wrapper{
    margin-top: 25px;
}

.strength__meter {
    height: 25px;
    width: 60%;
    margin: 10px auto;
    border-radius: 10px;
}

.gray {
    background-color: #808080;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #008000;
}